h1 {
    text-align: center;
    text-shadow: 5px;
    height: 400px;
    color: rgb(248, 255, 255);
    background-image: url('web.png');
    background-size: cover;
    padding: 5px;
    background-blend-mode: multiply;
    text-align-last: calc();

}

h3 {
    text-align: left;
    /* text-decoration: underline blueviolet; */
    color: blueviolet;
    display: inline-block;
    box-shadow: 2px 2px blueviolet;
}

p {
    color: blueviolet;
    background-image: url('bg.jpg');
    background-size: 100%;
    background-blend-mode: multiply;
    box-shadow: 5px 5px;

}

.page-title {
    font-weight: 700;

}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    background-color: blanchedalmond;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 10px;
}